<h2>All books</h2>

<% if books.any? %>
  <div id="books">
    <% books.each do |book_presenter| %>
      <div class="book">
        <h2><%= book_presenter.title %></h2>
        <p><%= book_presenter.author %></p>
        <p><%= book_presenter.total_price %></p>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="placeholder">There are no books yet.</p>
<% end %>
<a href="/books/new">New book</a>